<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Jamstagram</h1>
		</div>
		<div class="span6 offset6">
			 <div class="tracksearch" id="find-track">
		          <input class="typeahead" type="text" placeholder="search to add a track">
		     </div>
		     <div class="progress" style="display:none;">Loading</div>
			<h3>Results:</h3>
			<ol id="results">
			</ol>
		</div>
	</div>
</div>


