<!DOCTYPE html>
<html>
<head>
  <title>Jamstagram</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
  <link href="/css/typeahead.css" type="text/css">

</head>
<body>

<%= yield %>

</body>
</html>
